
.panels-flexible-topic_sites_layout .panels-flexible-region {
    padding: 0;
}
.panels-flexible-topic_sites_layout .panels-flexible-region-inside {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.panels-flexible-topic_sites_layout .panels-flexible-region-inside-first {
    padding-left: 0;
}
.panels-flexible-topic_sites_layout .panels-flexible-region-inside-last {
    padding-right: 0;
}
.panels-flexible-topic_sites_layout .panels-flexible-column {
    padding: 0;
}
.panels-flexible-topic_sites_layout .panels-flexible-column-inside {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.panels-flexible-topic_sites_layout .panels-flexible-column-inside-first {
    padding-left: 0;
}
.panels-flexible-topic_sites_layout .panels-flexible-column-inside-last {
    padding-right: 0;
}
.panels-flexible-topic_sites_layout .panels-flexible-row {
    margin: 0;
    padding: 0 0 0.5em;
}
.panels-flexible-topic_sites_layout .panels-flexible-row-last {
    padding-bottom: 0;
}
.panels-flexible-column-topic_sites_layout-main {
    float: left;
    width: 99%;
}
.panels-flexible-topic_sites_layout-inside {
    padding-right: 0;
}
.panels-flexible-topic_sites_layout {
    width: auto;
}
.panels-flexible-region-topic_sites_layout-slimboard {
    float: left;
    width: 99%;
}
.panels-flexible-row-topic_sites_layout-4-inside {
    padding-right: 0;
}
.panels-flexible-region-topic_sites_layout-left_region___ {
    float: left;
    width: 49.5%;
}
.panels-flexible-region-topic_sites_layout-right_region__ {
    float: left;
    width: 49.5%;
}
.panels-flexible-row-topic_sites_layout-3-inside {
    padding-right: 0;
}
.panels-flexible-region-topic_sites_layout-left_region__ {
    float: left;
    width: 49.5%;
}
.panels-flexible-region-topic_sites_layout-right_region_ {
    float: left;
    width: 49.5%;
}
.panels-flexible-row-topic_sites_layout-2-inside {
    padding-right: 0;
}
.panels-flexible-region-topic_sites_layout-left_region_ {
    float: left;
    width: 49.5%;
}
.panels-flexible-region-topic_sites_layout-right_region {
    float: left;
    width: 49.5%;
}
.panels-flexible-row-topic_sites_layout-1-inside {
    padding-right: 0;
}
.panels-flexible-region-topic_sites_layout-left_region {
    float: left;
    width: 49.5%;
}
.panels-flexible-region-topic_sites_layout-center {
    float: left;
    width: 49.5%;
}
.panels-flexible-row-topic_sites_layout-main-row-inside {
    padding-right: 0;
}
.panels-flexible-region-topic_sites_layout-left_region____ {
    float: left;
    width: 49.5%;
}
.panels-flexible-region-topic_sites_layout-right_region___ {
    float: left;
    width: 49.5%;
}
.panels-flexible-row-topic_sites_layout-5-inside {
    padding-right: 0;
}
.panels-flexible-region-topic_sites_layout-left_region_____ {
    float: left;
    width: 49.5%;
}
.panels-flexible-region-topic_sites_layout-right_region____ {
    float: left;
    width: 49.5%;
}
.panels-flexible-row-topic_sites_layout-6-inside {
    padding-right: 0;
}
