.addthis {
    border:none;
}

.hhs-blue-header .site-name { width:auto;}

.main-opa {
  overflow-x: hidden;
  padding-left: 1em;
}

.navbar-fixed-top #main-menu li a{
    font-size: 0.7em;
    font-weight: bold;
}

@media (min-width: 769px) and (max-width: 992px) {

	#banner-one .col-md-4, #banner-one .col-md-5, #banner-two .col-md-4, #banner-two .col-md-5  {
		width: 70%;
	}

}

@media (min-width: 768px) {
	.block-panels-mini .panels-flexible-region, .block-panels-mini .panels-flexible-region-inside {
	    width: 460px;
	}
	.crosslink-tile, .block-panels-mini .first-tile .pane-node, .block-panels-mini .first-tile.pane-node {
	    width: 460px;
	}

	.block-panels-mini .flip-card, .block-panels-mini .flip-card .field-name-body, .block-panels-mini .mini-tile, .block-panels-mini .crosslink-tile, .block-panels-mini .first-tile .pane-node, .block-panels-mini .first-tile.pane-node {
	    width: 460px;
	}
	.hhs-global-search .search-form {
	    width: 25%;
	}

	#banner-three {
    	background-position: 30% 50%;
	}

	#banner-four .col-md-6 {
		width: 49%;
		float: left;
	}

	#sources .col-md-9, #sources .col-md-3  {
		width:50%;
		float:left;
	}

	#sources {
		overflow: auto;
	}
}

@media (max-width: 992px) {

	#banner-two {
    	background-position: 120% 100%;
	}
}
@media (max-width: 767px) {

  #banner-five img, #cdc-title {
  	width: 100%;
  }

  	.hhs-global-search .search-form {
		width: 35%;
	}

		#banner-one {
		background-image: none;
		background-color: #f0efed;
	}

		#banner-two {
		background-position: 170% 100%;
		height: 100%;
	}

	.hhs-global-search .search-form {
		width: 100%;
    	margin: 3em 0;
	}

	#site-wrapper {
	  min-width: 0;
	  max-width: 100%;
	}

	#banner-one {
		background-image: none;
		background-color: #f0efed;
	}

	#banner-two {
		background-position: 170% 100%;
		height: 100%;
	}

	#banner-two .col-md-4, 	#banner-two .col-md-5 {
		width: 65%;
	}

	#banner-three .col-md-8 {
		width: 75%;
	}

	#banner-five {
		display: none;
	}

	#cdc-title {
		width: 100%;
	}

	#banner-one, #banner-two, #banner-three, #banner-four, #banner-six {
		padding: 0 1em;
	}

	#banner-three {
		margin-bottom: 0;
		background-position: 60% 50%;
	}

	#sources {
		overflow:auto;
	}

	#sources .col-md-9, #sources .col-md-3  {
		width:50%;
		float:left;
	}

	#banner-four {
    margin-bottom: 0;
	}

	.hhs-global-footer {
		margin: 0 !important;
	}
}

@media (max-width: 640px) {

	#banner-two {
    background-position: 250% 10%;
    background-size: 80%;
	}

	h2 {
		font-size: 2em !important;
	}

}

@media (max-width: 480px) {
	#banner-two .col-md-5 {
		width: 70%;
	}

	#banner-three {
    background-position: 58% 40%;
	}
}
