{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/themes/opa2/images/opa-logo.svg"  onerror="this.onerror=null; this.src='/themes/opa2/images/opa-logo.png'" alt="OPA Office of pPopulation Affairs">
      </a>
      <div class="nav navbar-nav navbar-right">
        {% if not logged_in %}
          {# LoginChange#}
          {#<button type="button" class="btn btn-primary-ghost navbar-btn" data-toggle="modal" data-target="#signinModal">Log in</button>#}
          <button type="button" class="btn btn-primary-ghost navbar-btn" data-toggle="modal" data-target="#signinModal">Update Clinic Details</button>
        {% endif %}
      </div>
    </div>

  </div><!-- /.container-fluid -->
</nav>

<div class="header-wrapper">
  <div class="container">
    {# Header #}
  {% if page.header %}
    {% block header %}
      <div class="col-sm-12" role="heading">
        {{ page.header }}
      </div>
    {% endblock %}
  {% endif %}
  </div>
</div>

{# LoginChange#}
{#{% if is_front %}#}
  {#<div class="into-wrapper">#}
    {#<div class="container">#}
          {#<div class="col-sm-12">#}
            {#<p>#}
              {#Here Title X Grantees can update information about themselves, their sub-recipients, and their service sites. We appreciate your taking the time to keep the database updated with the most accurate information. Grantees can also request a new account via email at <a href="#">opafpcd@icfi.com</a>#}
            {#</p>#}
          {#</div>#}
    {#</div>#}
  {#</div>#}
{#{% endif %}#}


{# map #}
{% if page.map %}
  {% block map %}
    {{ page.map }}
  {% endblock %}
{% endif %}


{# search_filter #}
{% if page.search_filter %}
  <div class="search_filter-wrapper">
    <div class="container">
      {% block search_filter %}
        <div class="row">
          <div class="col-sm-12">
            {{ page.search_filter }}
            <ul class="list-inline">
              <li><a href="#">Dictionary</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
{% endif %}


{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}


{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">



      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="footer {{ container }}" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endblock %}
{% endif %}

  <div class="site-footer-nav">
    {##6E7881#}
    <div class="container">
      <div class="col-sm-12">
        <p>
          <a href="#">OPA Home</a>  |  <a href="#">Grants and Funding</a>  |  <a href="#">Title X Family Planning</a>  |  <a href="#">Reproductive Health</a>  |  <a href="#">About OPA & Initiatives</a>  |  <a href="#">Stay Connected</a>
        </p>
      </div>
    </div>
  </div>

<section class="site-footer">
  <div class="container">

    <div class="row footer-section-one">
      <div class="col-sm-4">
        <div class="footer_dv social-media">
          <h2>Connect With Us</h2>
          <ul class="list-inline">
            <li>
              <a href="#"><img src="/themes/opa2/images/icon-fb.png" id="picture1" class="img-responsive" /></a>
            </li>
            <li>
              <a href="#"><img src="/themes/opa2/images/icon-twitter.png" id="picture2" class="img-responsive" /></a>
            </li>
            <li>
              <a href="#"><img src="/themes/opa2/images/icon-yt.png" id="picture3" class="img-responsive" /></a>
            </li>
          </ul>
          <ul class="list-inline">
            <li>
              <a href="#"><img src="/themes/opa2/images/icon-flickr.png" id="picture1" class="img-responsive" /></a>
            </li>
            <li>
              <a href="#"><img src="/themes/opa2/images/icon-pin.png" id="picture2" class="img-responsive" /></a>
            </li>
            <li>
              <a href="#"><img src="/themes/opa2/images/icon-g+.png" id="picture3" class="img-responsive" /></a>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer_dv">
          <h2>Sign Up for Email Updates</h2>
          <p>To sign up for updates or to access your subscriber preferences, please enter your contact information below.</p>
          <form class="form-inline">
            <div class="input-group">
              <input class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-footer" type="button">Sign Up</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer_dv">
          <h2>HHS Headquarters</h2>
          <address>
            <strong>U.S. Department of Health & Human Services</strong><br>
            200 Independence Avenue, S.W.<br>
            Washington, D.C. 20201<br>
            Toll Free Call Center: 1-877-696-6775
          </address>

        </div>
      </div>
    </div>

    {#Section 2#}
    <div class="row footer-section-two">
      <div class="col-lg-3  col-md-3 col-sm-3">
        <div class="footer_dv">
          <ul class="list-unstyled">
            <li><a href="#">Contact HHS</a></li>
            <li><a href="#">Dell Printer Support</a></li>
            <li><a href="#">HHS FAQs</a></li>
            <li><a href="#">Nondiscrimination Notice</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3  col-md-3 col-sm-3">
        <div class="footer_dv">
          <ul class="list-unstyled">
            <li><a href="#">HHS Archive</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3  col-md-3 col-sm-3">
        <div class="footer_dv">
          <ul class="list-unstyled">
            <li><a href="#">Budget/Performance</a></li>
            <li><a href="#">Inspector General</a></li>
            <li><a href="#">EEO/No Fear Act</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3  col-md-3 col-sm-3">
        <div class="footer_dv">
          <ul class="list-unstyled">
            <li><a href="#">FOIA</a></li>
            <li><a href="https://www.whitehouse.gov">The Whilte House</a></li>
            <li><a href="http://usa.gov">USA.gov</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



{#<!-- Modal -->#}
{#<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel">#}
  {#<div class="modal-dialog" role="document">#}
    {#<div class="modal-content">#}
      {#<div class="modal-header">#}
        {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
        {#<h4 class="modal-title" id="signinModalLabel">Modal title</h4>#}
      {#</div>#}
      {#<div class="modal-body">#}
        {#...#}
      {#</div>#}
      {#<div class="modal-footer">#}
        {#<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
        {#<button type="button" class="btn btn-primary">Save changes</button>#}
      {#</div>#}
    {#</div>#}
  {#</div>#}
{#</div>#}
