$btn-footer-bg: #f9ba4a;
$btn-footer-color: #000;


.btn-footer {
  @include button-variant($btn-footer-color, $btn-footer-bg, $btn-footer-bg);
}

@mixin ghost-button($ghost-button-color, $ghost-button-border, $ghost-button-display) {
  border: $ghost-button-border;
  border-color: $ghost-button-color;
  color: $ghost-button-color;
  display: $ghost-button-display;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;

  &:hover, &:focus, &:active, &.active {
    background: $ghost-button-color;

    @if $ghost-button-color == #FFFFFF {
      color: #000000;
    }

    @else {
      color: #FFFFFF;
    }
  }
}

.btn-primary-ghost {
  @include button-variant($brand-primary, transparent, $brand-primary);
  //border-width: 3px;
  font-weight: bold;

  @include ghost-button($brand-primary, 2px solid,  inline-block)

}