#views-exposed-form-service-locations-list-page-1 > div{
  @include make-row;
  margin-left: -5px;
  margin-right: -5px;
  .form-item-title{
    @include make-sm-column(3);
  }
  .form-item-field-region-value{
    @include make-sm-column(2);
  }
  .form-item-state{
    @include make-sm-column(3);
  }
  .form-item-field-organization-type-value{
    @include make-sm-column(2);
  }
  .form-actions{
    @include make-sm-column(2);
    margin-top: 28px;
  }
  .btn{
    @extend .btn-block;
  }
  .form-item{
    @media #{$medium-and-up}{
      padding-left: 5px;
      padding-right: 5px;
    }
  }

}

.search_filter-wrapper{
  background: #f9ba4a;
  padding-top: 20px;
  padding-bottom: 20px;

  a {
    $search_filter-anchor-color: darken($brand-primary, 15%);
    $search_filter-anchor-hover-color: darken($search_filter-anchor-color, 10%);
    color: $search_filter-anchor-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $search_filter-anchor-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &:focus {
      @include tab-focus;
    }
  }
}

.search_filter-wrapper .list-inline{

  font-size: .85em;

  @media #{$small-and-down}{
    float: right;
    margin-right: 10px;
    margin-bottom: -10px;
    margin-top: 5px;
  }

  @media #{$medium-and-up}{
    position: absolute;
    right: 0px;
    bottom: -19px;
    padding-right: 23px;
    &  > li{
      padding-right: 0;
      padding-left: 2px;
    }
  }


}

//
//.path-frontpage{
//  .search_filter-wrapper{
//    background: transparent;
//    position: relative;
//    margin-top: -114px;
//    &:after{
//      content: ' ';
//      display: block;
//      position: absolute;
//      left: 0;
//      top: 0;
//      width: 100%;
//      height: 100%;
//      z-index: -1;
//      opacity: 0.8;
//      background-color: #f9ba4a;
//      -ms-background-size: cover;
//      -o-background-size: cover;
//      -moz-background-size: cover;
//      -webkit-background-size: cover;
//      background-size: cover;
//    }
//  }
//.region-map{
//  z-index: -10;
//  position: relative;
//}
//
//}