.site-footer-nav{
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #8c8c8c;
  text-align: center;

  a {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;

    $search_filter-anchor-color: #fff;
    $search_filter-anchor-hover-color: darken($search_filter-anchor-color, 10%);
    color: $search_filter-anchor-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $search_filter-anchor-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &:focus {
      @include tab-focus;
    }
  }
}

.site-footer{
  background-color: #323232;
  color: #adadad;
  a{
    color: #adadad;
  }
  h2{
    font-size: 20px;
    color: lighten(#adadad, 20%);
  }
}
.social-media{
  @extend .clearfix;
  @media #{$small-and-down}{
    ul{
      float: left;
    }
  }

}

.footer-section-one{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom:1px solid #adadad;
}

.footer-section-two{

}


.footer{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  border-top: none;
}

