.modal-header h2{
  font-size: 20px;
}
.modal-content{
  p{
    font-size: 14px;
  }
  .form-actions{
    float: right;
    .btn{
      @extend .btn-primary;

    }
  }

  .block-user-login-block{
    margin-bottom: 10px;
    form + ul{
      @extend .list-inline;
    }
    & + p{
      font-size: 12px;
      float: right;
    }
  }
}
