.navbar{
  border-top:15px solid $brand-primary;
}
//
//@media #{$small-and-down}{
//  .navbar{
//    min-height: 50px;
//  }
//  .navbar-brand{
//    padding: 10px 10px;
//    height: 70px;
//    img{
//      height: 50px;
//    }
//
//  }
//  .navbar-nav{
//    margin: 0px;
//  }
//  .navbar-btn{
//    float: right;
//    margin: 20px;
//  }
//}
//
//@media #{$medium-and-up}{
//  .navbar{
//    min-height: 125px;
//  }
//  .navbar-header{
//    width: 100%;
//  }
//  .navbar-brand{
//    padding: 20px 10px;
//    height: 125px;
//    img{
//      height: 85px;
//    }
//  }
//  .navbar-btn{
//    margin-top: 50px;
//    margin-bottom: 50px;
//  }
//}
$topbar-height: 60px;
$topbar-padding: 10px;
$topbar-total: $topbar-height + ($topbar-padding * 2);
.navbar{
  min-height: $topbar-height;
}

  .navbar-header{
    width: 100%;
  }

.navbar-brand{
  padding: $topbar-padding $topbar-padding;
  height: $topbar-total;
  img{
    height: $topbar-height;
  }

}
.navbar-nav{
  margin: 0px;
}
.navbar-btn{
  float: right;
  margin-top: ($topbar-total - 41px)/2;
  margin-bottom: ($topbar-total - 41px)/2;
}