.field--name-field-contact-first-name, .field--name-field-contact-last-name{
  display: inline-block;
}

.page-node-type-service-site .main-container{

  h1.page-header{
    @media #{$large-and-up}{
      @include make-row;
      padding-bottom: 0;
      margin: 0;
      border-bottom: none;
      span{
        @include make-md-column(7);
        padding-bottom: 10px;
        margin: 0 0 22px -15px;
        border-bottom: 1px solid #e3e3e3;
      }
    }

  }

  h2{
    font-size: 18px;
    margin-top: 0;
  }

  .facility-wrapper{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
  }

  .contacts > div{
    @media #{$medium-and-down}{
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .field--name-field-contact-email{
    word-wrap: break-word;
  }

  .field--name-field-location{
    @media #{$large-and-up}{
      margin-top: -70px;
    }
    @media #{$medium-and-down}{
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #e3e3e3;
    }

  }

}