.path-service-locations-list{
  h1{
    @extend .sr-only;
  }
  $thead-bg-color: #092745;
  thead{
    background-color: $thead-bg-color;
    th, th a{
      color: #fff;

      &.is-active{
        background-color: lighten($thead-bg-color, 10%);
      }
    }
  }
  .views-field-title a{
    font-size: 1.2em;
  }
}


.tablesort--asc {
  background-image: none;
  @extend .glyphicon;
}
.tablesort--asc:after {

  content: "\e093";
}

.tablesort--desc {
  background-image: none;
  @extend .glyphicon;
}
.tablesort--desc:after {
  content: "\e094";
}

