
#block-regionstateslist{
  @media #{$medium-and-up}{
    ul{
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
      list-style: none;
      //TODO: add media Queries

    }

  }

  li{
    margin-bottom: 10px;
    @media #{$medium-and-up}{
      &:last-child, &:nth-child(5) {
        margin-bottom: 0;
      }
    }



    @extend .clearfix;

    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    column-break-inside:avoid;

    background-color: #f7f7f7;
    border-left: 4px solid $brand-primary;
    padding:10px;



    a{
      //font-size: 20px;
      display: inline-block;
      //float: left;
      //width: 25%;
      font-size: 18px;


    }
  }
  .region-number{
    //display: block;
    display: inline-block;
    margin-right: 5px;
    //font-size: .9em;
    font-weight: bold;

  }
  .region-name{
    //display: block;
    display: inline-block;

  }
  .included-states{
    //float: left;
    //width: 75%;
    //padding-left:20px;
  }

}
