.header-wrapper{
  background-color: $brand-primary;
  color: #fff4f4;
  font-size:30px;
  text-align: center;
  padding: 8px;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

.into-wrapper{

  //version #1
  //background-color: #6E7881;
  //color: #fff;
  //text-align: center;
  //padding: 8px;
  //
  //a {
  //  $search_filter-anchor-color: lighten($brand-primary, 55%);
  //  $search_filter-anchor-hover-color: darken($search_filter-anchor-color, 10%);
  //  color: $search_filter-anchor-color;
  //  text-decoration: none;
  //
  //  &:hover,
  //  &:focus {
  //    color: $search_filter-anchor-hover-color;
  //    text-decoration: $link-hover-decoration;
  //  }
  //
  //  &:focus {
  //    @include tab-focus;
  //  }
  //}


  //version #2
  background-color: #2d8a57;
  color: #fff;
  text-align: center;
  padding: 8px;

  a {
    $search_filter-anchor-color: #dcdcdc;
    $search_filter-anchor-hover-color: darken($search_filter-anchor-color, 10%);
    color: $search_filter-anchor-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $search_filter-anchor-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &:focus {
      @include tab-focus;
    }
  }

  //version #3
  //background-color: $brand-primary;
  //color: #fff;
  //text-align: center;
  //padding-bottom: 8px;
  //
  //a {
  //  $search_filter-anchor-color: #dcdcdc;
  //  $search_filter-anchor-hover-color: darken($search_filter-anchor-color, 10%);
  //  color: $search_filter-anchor-color;
  //  text-decoration: none;
  //
  //  &:hover,
  //  &:focus {
  //    color: $search_filter-anchor-hover-color;
  //    text-decoration: $link-hover-decoration;
  //  }
  //
  //  &:focus {
  //    @include tab-focus;
  //  }
  //}

}